/* file style-refpersys.css on refpersys.org - CCBYSA4 licensed, see https://creativecommons.org/licenses/by-sa/4.0/ */
/*  © Copyright 2019 - 2021 The Reflective Persistent System Team - http://refpersys.org */

body {
    background-color: ivory;
}

header {
    margin: auto;
    padding: 10px;
}

nav {
    padding: 4px;
    font-size: 90%;
    background-color: peachpuff;
}

a.cl_navlink {
    font-size: 90%;
    margin: 3px;
    padding: 2px;
}

footer {
    padding: 10px;
    font-size: 85%;
}

img.cl_logo {
    margin: auto;
}

p.cl_french {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 85%;
    background-color: lightcyan;
    color: darkolivegreen;
    border: 2px solid black;
    padding: 4px;
}

p.cl_russian {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 85%;
    background-color: lavenderblush;
    color: darkolivegreen;
    border: 2px solid black;
    padding: 4px;
}

p.cl_english {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 85%;
    background-color: peachpuff;
    color: darkolivegreen;
    border: 2px solid black;
    padding: 4px;
}

p.cl_small {
    font-family: Times, serif;
    font-size: 85%;
    background-color: azure;
    color: brown;
    boder: 3px dash black;
    padding: 4px;
}

span.cl_tt {
    font-family: "Lucida Console", Monaco, monospace;
}

span.cl_small {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 75%;
}

table.cl_devtable {
     border: 1px solid black;
     border-collapse: collapse;
}

th, td {
    padding: 8px;
    background-color: beige;
}

caption {
    font-size: 85%;
    background-color: Alice Blue;
    font-family: Arial, Helvetica, sans-serif;
}
/* end of file style-refpersys.css */
