## file web-refpersys/.gitignore
*~
gitid.bash
talk-Pitrat-Caia-RefPerSys-2020mar06/Starynkevitch-CAIA-RefPerSys-2020mar06.aux
talk-Pitrat-Caia-RefPerSys-2020mar06/Starynkevitch-CAIA-RefPerSys-2020mar06.log
talk-Pitrat-Caia-RefPerSys-2020mar06/Starynkevitch-CAIA-RefPerSys-2020mar06.nav
talk-Pitrat-Caia-RefPerSys-2020mar06/Starynkevitch-CAIA-RefPerSys-2020mar06.out
talk-Pitrat-Caia-RefPerSys-2020mar06/Starynkevitch-CAIA-RefPerSys-2020mar06.pdf
talk-Pitrat-Caia-RefPerSys-2020mar06/Starynkevitch-CAIA-RefPerSys-2020mar06.snm
talk-Pitrat-Caia-RefPerSys-2020mar06/Starynkevitch-CAIA-RefPerSys-2020mar06.toc
talk-Pitrat-Caia-RefPerSys-2020mar06/refpersys-logo.eps
talk-Pitrat-Caia-RefPerSys-2020mar06/refpersys-logo.pdf
